
html, body {
    width: 100%;
    height: 100%;
    font-family: "Gill Sans", sans-serif;
  }

table {
    width: 100%;
}
td {
    padding: 1em;
}
.btn-primary {
    background-color: #335C67;
    border-color: #335C67;
}
.align-items-center {
    align-items: center !important;
}

.dashboard {
    margin: 20px;
}

h1 {
    font-size: 2em;
}
.name-order {
    width: 25vw;
}

.btn {
    margin: 10px;
}


#landing {
    background-color: white; /* fallback if background image fails */
    background-repeat: no-repeat;
    background-image: url(/static/img/site/li-lin-hPqqt-Urpmw-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#login {
    background-color: white; /* fallback if background image fails */
    background-repeat: no-repeat;
    background-image: url(/static/img/site/todd-kent-onnJOfF-okU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.homepage nav {
    position: fixed;
    top: 0;
    left: 0;
  }

.homepage > section.container-fluid,
.homepage > section.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

.login-menu {
    background-color: rgba(255, 255, 255, 0.8);
    /* opacity: 0.8; */
}

.overflow-y {
    overflow-y: auto !important;
  }
.content {
    margin-bottom: 25% !important;

}

.home-img {
/* height: 50vh;
width: 100vw; */
padding: 20px;
    /* position: relative; */
background-color: white; /* fallback if background image fails */
background-repeat: no-repeat;
background-image: url(/static/img/site/keagan-henman-zE_x-1vM5TE-unsplash.jpg);
background-position: bottom;
background-size: cover;
}

.welcome-title {
    color: #E1DFD5;
    -webkit-text-stroke:#464828 2px;
    font-size: 4em;
    font-weight: 600;
}

.write-proc {
    margin: 20px;
}
  
.card {
    margin: 20px;
    display: inline-block;
}

.avatar {
    height: 50vh;
    border: solid;
    border-radius: 10%;
    display: block;
}

.step {
    margin: 20px;
}

.step-img {
    height: 40vh;
    border: solid;
}
.sub-item {
    margin: 5%;
    padding: 5%;
}
.sub-other {
    padding: 5%;
}
.part-check {
    display: inline;
}
#car-add-form {
    display: none;
}
.edit-proc {
    margin: 2%;
    padding: 2%;
}
.label-header {
    font-size: 1.5em;
    font-style: italic;
}
.form-subtitle {
    font-size: 18px;
    font-weight: 600;
}
.proc-overview {
    padding: 1%;
}
.proc-main {
    padding: 5%;
}
.home-pad {
    padding: 2%;
}
.featured {
    margin: 1%;
    height: 250px;
    width: 300px;
}