<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block Title%}Alex Forgot to Add a Title{% endblock %}</title>
        <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

        {% block js %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>