{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block js %}   
{% endblock %}


{% block body %}
<div class="container-fluid dashboard">

    <div class="row">
        <div class="col">
            <img class="avatar" src="/static/img/uploads/{{ user.avatar_img_url }}"/>
            <p>{{ user.username }}</p>
            <p>{{ user.nickname }}</p>
        </div>
        <div class="col">
            <h2>Procedures you've created:</h2>
            <ul>
                {% for procedure in procedures %}
                    <li>
                        <a href="/procedure/{{ procedure.proc_id }}">{{ procedure.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Your last vehicle:</h2>
            {% if model_year and make and model %}
            <p>{{ model_year }} {{ make }} {{ model }}</p>
            {% else %}
            <p>No vehicle to show.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}