{% extends 'base.html' %}

{% block title %}Edit Procedure{% endblock %}

{% block js %}
    <script src="/static/js/write-procedure.js" type="text/jsx"></script>
    <script src="/static/js/edit-procedure.js" type="text/jsx"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
{% endblock %}


{% block body %}

<form action="/rebuild-procedure", method="POST">
    <input name="proc_id" id="proc_id" type="number" value="{{ procedure.proc_id }}" style="display: none;"/>

    <h1>Title:</h1>
    <input type="text" name="title" id="title", value="{{ procedure.title }}" />

    <h1>Label (optional):</h1>
    {% if procedure.label %}
        <input type="text" name="label" id="label" value="{{ procedure.label }}" />
    {% else %}
        <input type="text" name="label" id="label" />
    {% endif %}
    <br />
    <input type="checkbox" name="label-remove" id="label-remove" />
    <label for="label-remove">Remove this label.</label>
    
    <br />
    <div id="cars">
    <input name="NUM_CARS" id="NUM_CARS" type="hidden" value="{{ num_cars }}" />
    <h1>Applicable Vehicles:</h1>
    <table>
        {% for proc_car in proc_car_obj %}
        <tr id="row-{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}">
            <td>
                <input name="cars" 
                        value="{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}" 
                        disabled />
            </td>
            <td>
                <button class="remove-car" 
                        value="{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}">
                        Remove
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form id="car-add-form" action="/vehicle-select" method="POST">
        <label>Car Model Year:</label>
        <input id="model-year" name="model-year" type="number" min="1900" max="2020" />
        <br />
        <label>Car Make:</label>
        <select id="make" name="make">
        <option value="">--Please select a Make--</option>
        {% for make in sorted_makes %}
        <option value="{{ make }}">{{ make }}</option>
        {% endfor %}
        <option value="other">Other (please specify)...</option>
        </select>
        <br />
        <label>Car Model:</label>
        <select id="model-select" name="model" disabled>
        <option value="">--Please select a Model--</option>
        </select>
        <br />
        <input id="vehicle-submit" type="submit" disabled>
    </form>
    <br />
    <button id="car-add">Add a Vehicle</button>
    </div>
   
    <br />
    <div>
        <h1>Required tools:</h1>
        <button id="tool-add">Add a Tool</button>
        <input name="NUM_TOOLS" id="NUM_TOOLS" type="hidden" value="{{ num_tools }}" />
        <table id="tools">
            {% for proc_tool in proc_tool_obj %}
            <tr>
                <td>
                    <input name="tools" value="{{ proc_tool.tool.name }}" disabled />
                    <br />
                    <button class="name edit">Edit Name</button>
                </td>
                <td>
                    <input name="tool-img" value="{{ proc_tool.tool.tool_img }}" disabled />
                    <br />
                    <button class="img edit">Edit Img</button>
                    <button class="del-img">Restore Default Img</button>
                </td>
                <td>
                    <button class="remove-tool">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <br />
    <div>
        <input name="NUM_PARTS" id="NUM_PARTS" type="hidden" value="{{ num_parts }}" />
        <h1>Required parts:</h1>
        <button id="part-add">Add a Part</button>
        <table id="parts">
            {% for proc_part in proc_part_obj %}
            <tr>
                <td>
                    <input name="parts" value="{{ proc_part.part.name }}" disabled />
                    <br />
                    <button class="name edit">Edit Name</button>
                </td>
                <td>
                    <input name="part-img" value="{{ proc_part.part.part_img }}" disabled />
                    <br />
                    <button class="img edit">Edit Img</button>
                    <button class="del-img">Restore Default Img</button>
                </td>
                <td>
                    <button class="remove-part">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <br />
    <div>
        <input name="NUM_STEPS" id="NUM_STEPS" type="hidden" value="{{ num_steps }}" />
        <h1>Procedure Steps:</h1>
        <table id="steps">
            {% for step in steps %}
            <tr>
                <td>
                    <input name="step-text" value="{{ step.step_text }}" />
                </td>
                <td>
                    {% if step.reference == "No Ref Provided" %}
                        <input type="url" name="step-ref"
                                placeholder="https://example.com"
                                pattern="https://.*" disabled/>
                    {% else %}
                        <input type="url" name="step-ref"
                                    placeholder="https://example.com"
                                    pattern="https://.*" value="{{ step.reference }}" disabled/>
                    {% endif %}
                    <br />
                    <button class="edit ref">Edit Ref</button>
                    <button class="del-ref">Remove Ref</button>
                </td>
                <td>
                    <input name="step-img" value="{{ step.step_img }}" disabled />
                    <input name="new-step-img" type="file" disabled />
                    <br />
                    <button class="edit img">Edit Img</button>
                    <button class="del-img">Restore Default Img</button>
                </td>
                <td>
                    <button class="remove-step">Remove Step</button>
                </td>
                <td>
                    <button class="move up">UP</button>
                </td>
                <td>
                    <button class="move down">DOWN</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br />
        <button id="step-add">Add a Step</button>
    </div>

    <br />
    <input type="submit">
</form>

<br />
<a href="/home">Return Home</a>

{% endblock %}