{% extends 'base.html' %}

{% block title %}Edit Procedure{% endblock %}

{% block js %}
    <script src="/static/js/write-procedure.js" type="text/jsx"></script>
    <script src="/static/js/edit-procedure.js" type="text/jsx"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
{% endblock %}


{% block body %}

<form action="/rebuild-procedure", method="POST">
    <input name="proc_id" id="proc_id" type="number" value="{{ procedure.proc_id }}" style="display: none;"/>

    <h1>Title:</h1>
    <input type="text" name="title" id="title", value="{{ procedure.title }}" />

    <h1>Label (optional):</h1>
    {% if procedure.label %}
        <input type="text" name="label" id="label" value="{{ procedure.label }}" />
        <br />
        <input type="checkbox" name="label-remove" id="label-remove" />
        <label for="label-remove">Remove this label.</label>
    {% else %}
        <input type="text" name="label" id="label" />
    {% endif %}
    <br />
    <input type="submit">
</form>




<h1>Applicable Vehicles:</h1>
<ul id="all-cars">
    {% for proc_car in proc_car_obj %}
    <li id="item-{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}">
        {{ proc_car.car.model_year }}
        {{ proc_car.car.make }}
        {{ proc_car.car.model }}
        {% if num_cars > 1 %}
            <input type="checkbox"
                    id="remove-{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}"
                    name="remove-{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}" />
            <label for="remove-{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}">
                Remove This Vehicle
            </label>
        {% else %}
        <input type="checkbox"
        class="car-remove"
        id="remove-{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}"
        name="remove-{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}"
        disabled />
        <label for="remove-{{ proc_car.car.model_year }}-{{ proc_car.car.make }}-{{ proc_car.car.model }}">
            Remove This Vehicle
        </label>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<form id="car-add-form" action="/vehicle-select", method="POST" style="display: none;">
    <label>Car Model Year:</label>
    <input id="model-year" name="model-year" type="number" min="1900" max="2020" />
    <br />
    <label>Car Make:</label>
    <select id="make" name="make">
    <option value="">--Please select a Make--</option>
    {% for make in sorted_makes %}
    <option value="{{ make }}">{{ make }}</option>
    {% endfor %}
    <option value="other">Other (please specify)...</option>
    </select>
    <br />
    <label>Car Model:</label>
    <select id="model-select" name="model" disabled>
    <option value="">--Please select a Model--</option>
    </select>
    <br />
    <input id="vehicle-submit" type="submit" disabled>
</form>

<button id="car-add">Add a Vehicle</button>


<h1>Required tools:</h1>
<button id="tool-add">Add a Tool</button>
<button id="tool-remove">Delete a Tool</button>
<ul>
    {% for proc_tool in proc_tool_obj %}
    <li>
        <a href="/tool/{{ proc_tool.tool.tool_id }}">
        {{ proc_tool.tool.name }}
        </a>
    </li>
    {% endfor %}
</ul>

<h1>Required Parts:</h1>
<button id="part-add">Add a Part</button>
<button id="part-remove">Delete a Part</button>
<ul>
    {% for proc_part in proc_part_obj %}
    <li>{{ proc_part.part.name }}</li>
    {% endfor %}
</ul>

<h1>Procedure Steps:</h1>
<button id="step-add">Add a Step</button>
<button id="step-remove">Delete a Step</button>
<ol>
    {% for step in steps %}
    <li>
        {{ step.step_text }}
        {% if step.reference != "No Ref Provided" %}
            <br />
            Reference:
            <a href="{{ step.reference }}">{{ step.reference }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ol>


<br />
<a href="/home">Return Home</a>

<input name="NUM_PARTS" id="NUM_PARTS" type="number" value="{{ num_parts }}" style="display: none;"/>
<input name="NUM_TOOLS" id="NUM_TOOLS" type="number" value="{{ num_tools }}" style="display: none;"/>
<input name="NUM_STEPS" id="NUM_STEPS" type="number" value="{{ num_steps }}" style="display: none;"/>
<input name="NUM_CARS" id="NUM_CARS" type="number" value="{{ num_cars }}" style="display: none;"/>
{% endblock %}