{% extends 'base.html' %}

{% block title %}Shop Cat Home{% endblock %}

{% block js %}   
{% endblock %}


{% block body %}
<div class="container-fluid">

    <div class="row home-img justify-content-left">
        <div class="col-1">
            <p class="welcome-title">Let's fix something.</p>
        </div>
    </div>

    <div class="row justify-content-start home-pad ">
        <h1>Browse Procedures by Car</h1>
    </div>
    <div class="row justify-content-center border-bottom home-pad">
        {% for make in makes %}
            <a class="btn btn-primary" href="/vehicle/{{ make }}">{{ make }}</a>
        {% endfor %}
    </div>

    <div class="row justify-content-start home-pad">
        <h1>Featured Procedures</h1>
    </div>
    <div class="row justify-content-center">
        {% for proc_car_obj in proc_car_objs %}
            <div class="col">
                <div class="border featured" style="width: 18em;">
                    <div class="card-body">
                        <h5 class="card-title">{{ proc_car_obj.proc.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ proc_car_obj.proc.label }}</h6>
                        <p class="card-text">{{ proc_car_obj.car.model_year }} {{ proc_car_obj.car.make }} {{ proc_car_obj.car.model }}</p>
                        <a href="/procedure/{{ proc_car_obj.proc.proc_id }}" class="btn btn-primary">See This Procedure</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}