{% extends 'base.html' %}

{% block title %}Shop Cat Home{% endblock %}

{% block js %}   
{% endblock %}


{% block body %}
    <h1>Write a new procedure!</h1>
    <a href = "/write-procedure">Search for a car to begin writing a new procedure!</a>

    <div>
    <h1>Browse all the available procedures:</h1>
    {% for procedure in procedures %}
        <a href = "/procedure/{{ procedure.proc_id }}">{{ procedure.title }}</a>
        <br />
    {% endfor %}
    </div>

    <div>
    <h1>Browse all the available tools:</h1>
    <p>Don't see the tool that you need?</p>
    <p>You can add a new tool when you write or edit a procedure!</p>
    {% for tool in tools %}
        <a href = "/tool/{{ tool.tool_id }}">{{ tool.name }}</a>
        <br />
    {% endfor %}
    </div>

    <div>
    <h1>Browse all the cars with existing ShopCat procedures:</h1>
    <h2>Browse by Make:</h2>
    {% for make in makes %}
        <a href = "/vehicle/{{ make }}">
            {{ make }}
        </a>
        <br />
    {% endfor %}
    </div>
    
{% endblock %}