{% extends 'base.html' %}

{% block title %}Shop Cat Home{% endblock %}

{% block js %}
    <script src="/static/js/homepage.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
    <div id= "app-procedures"></div>
    <div>
    {% for procedure in procedures %}
        <a href = "/procedure/{{ procedure.proc_id }}">{{ procedure.title }}</a>
        <br />
        {% endfor %}
    </div>
    <div id= "app-title"></div>
    <a href = "/year-make-search">Search for a car to begin writing a new procedure!</a>
{% endblock %}