{% extends 'base-login-acct.html' %}

{% block title %}Log In{% endblock %}

{% block js %}
{% endblock %}


{% block body %}
<div id="login" class="homepage container-fluid">
    
    <section class="container">

        <div class="row h-100 justify-content-end">
            <div class="col-4 h-100 login-menu">

                <h2 class="menu-text">Log in with your Shop Cat account here.</h2>
                
                <form action="/existing-user" method="POST">
                    <label>Username: </label>
                    <input type="text" name="username" />
                    <br />
                    <label>Password: </label>
                    <input type="password" name="password" />
                    <br />
                    <input type="submit" class="btn btn-primary">
                </form>

                <p>Whoops, did you mean to create a new account? Return home
                    <a href="/">here</a>.
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}