{% extends 'base.html' %}

{% block title %}{{ procedure.title }}{% endblock %}

{% block js %}
    <script src="/static/js/procedure.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}

    <h1>Here's your procedure info!</h1>
    <br />
    <h1>{{ procedure.title }}</h1>
    <h3>Label: {{procedure.label }}</h3>

    <p>This procedure applies to the following cars:</p>
    <ul>
        {% for proc_car in proc_car_obj %}
        <li>{{ proc_car.car.model_year }}
            {{ proc_car.car.make }}
            {{ proc_car.car.model }}</li>
        {% endfor %}
    </ul>    

    <p>You'll need {{ proc_num_tools }} tools for the job:</p>
    <ul>
        {% for proc_tool in proc_tool_obj %}
        <li>{{ proc_tool.tool.name }}</li>
        {% endfor %}
    </ul>

    <p>You'll need {{ proc_num_parts }} parts for the job:</p>
    <ul>
        {% for proc_part in proc_part_obj %}
        <li>{{ proc_part.part.name }}</li>
        {% endfor %}
    </ul>

    <p>{{ procedure.description }}</p>

    <p>This procedure was created by {{ procedure.user.nickname }}.</p>

    <a href="/home">Return Home</a>
    
{% endblock %}