{% extends 'base.html' %}

{% block title %}{{ procedure.title }}{% endblock %}

{% block js %}
<script src="/static/js/view-procedure.js" type="text/jsx"></script>
<script src="http://code.jquery.com/jquery.js"></script>
{% endblock %}


{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1>{{ procedure.title }}</h1>
            <h3>Label: {{procedure.label }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>This procedure applies to the following cars:</p>
            <ul>
                {% for proc_car in proc_car_obj %}
                <li>
                    {{ proc_car.car.model_year }}
                    <a href="/vehicle/{{ proc_car.car.make }}">
                    {{ proc_car.car.make }}
                    </a>
                    <a href="/vehicle/{{ proc_car.car.make }}/{{ proc_car.car.model_year }}/{{ proc_car.car.model }}">
                    {{ proc_car.car.model }}
                    </a>
                </li>
                {% endfor %}
            </ul>    
        </div>
        <div class="col">
            <p>You'll need {{ proc_num_tools }} tools for the job:</p>
            <ul>
                {% for proc_tool in proc_tool_obj %}
                <li>
                    <a href="/tool/{{ proc_tool.tool.tool_id }}">
                    {{ proc_tool.tool.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <p>You'll need {{ proc_num_parts }} parts for the job:</p>
            <ul>
                {% for proc_part in proc_part_obj %}
                <li>{{ proc_part.part.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <p>Here are the steps in the procedure:</p>
    </div>
        {% for step in steps %}
        <div class="row step align-items-center">
            <div class="col-1">
                <p>{{ step.order_num }}</p>
            </div>
            <div class="col">
                <p>{{ step.step_text }}</p>
            </div>
            <div class="col-2">         
                <img class="step-img" src="/static/img/uploads/{{ step.step_img }}"/>
            </div>
            <div class="col-2">
                {% if step.reference != "No Ref Provided" %}
                    {% if 'https://' in step.reference %}
                        <br />
                        Reference:
                        <a id="ref" href="{{ step.reference }}">{{ step.reference }}</a>
                    {% else %}
                        <div id="player-{{ loop.index }}"></div>
                    {% endif %}
                {% endif %}
                <input type="hidden" id="vid-ref-{{ loop.index }}" value="{{ step.reference }}" />
            </div>
        </div>
        {% endfor %}
        <input type="hidden" id="num-steps" value="{{ proc_num_steps }}" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if procedure.user.nickname %}
                <p>This procedure was created by {{ procedure.user.nickname }}.</p>
            {% else %}
                <p>This procedure was created by {{ procedure.user.username }}.</p>
            {% endif %}

            <a href="/edit-procedure/{{ procedure.proc_id }}">Edit this procedure.</a>
        </div>
    </div>
{% endblock %}