{% extends 'base.html' %}

{% block title %}Shop Cat{% endblock %}

{% block js %}
{% endblock %}


{% block body %}
    <div id="app"></div>
    <h2>Create a ShopCat Account!</h2>
    
    <form action="/new-user" method="POST">
        <label>Username: </label>
        <input type="text" name="username" />
        <br />
        <label>Password: </label>
        <input type="password" name="password" />
        <br />
        <label>Nickname: </label>
        <input type="nickname" name="nickname" />
        <br />
        <input type="submit">
    </form>

    <p>Already have an account? Log in <a href="/login">here</a>.</p>
{% endblock %}