{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block js %}

{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Model years available for all {{ make }} vehicles:</p>
            {% for model_year in model_years %}
                <a href="/vehicle/{{ make }}/{{ model_year }}" class="btn btn-primary">{{ model_year }}</a>
            {% endfor %}
        </div>
    </div>
</div>

    <a href="/home" class="btn btn-secondary btn-sm">Return Home</a>
{% endblock %}