{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block js %}

{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <p>Models for all {{ make }} vehicles with MY{{ model_year }}:</p>
        {% for model in models %}
            <a href="/vehicle/{{ make }}/{{ model_year }}/{{ model }}" class="btn btn-primary">{{ model }}</a>
        {% endfor %}
    </div>
    <div class="row">
        <a href="/vehicle/{{ make }}" class="btn btn-secondary btn-sm">Return to {{ make }} page.</a>
    </div>
</div>
{% endblock %}
