{% extends 'base.html' %}

{% block title %}Write a Procedure{% endblock %}

{% block js %}
    <script src="/static/js/write-procedure.jsx" type="text/jsx"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
{% endblock %}


{% block body %}


<form action="/build-procedure", method="POST">

    <br /><label>Procedure Name: </label>
    <input type="text" name="proc_title" required />
    <br /><label>Procedure Label (optional): </label>
    <input type="text" name="proc_label" required />
    <br /><label>Upload an Image (Optional)</label>
    <input type="file" name="proc_img" />
    <br />

    <p>Tool List Ajax</p>
    <div id="tool-list"></div>
    <br />
    <p>Part List Ajax</p>
    <div id="part-list"></div>
    <br />

    <br /><label>Procedure Text: </label>
    <textarea name="proc_text" required></textarea>

    <input name="NUM_TOOLS" id="NUM_TOOLS" type="number" value="0" style="display: none;"/>
    <input name="NUM_PARTS" id="NUM_PARTS" type="number" value="0" style="display: none;"/>

    <br /><input type="submit"></input>
</form>
<br />
<button id="tool-adder">Add a Tool</button>
    
<button id="part-adder">Add a Part</button>


{% endblock %}