{% extends 'base.html' %}

{% block title %}Write a Procedure{% endblock %}

{% block js %}{% endblock %}


{% block body %}

<form action="/build-procedure", method="POST">

    <br /><label>Procedure Name: </label>
    <input type="text" name="proc_title" required />
    <br /><label>Procedure Label (optional): </label>
    <input type="text" name="proc_label" required />
    <br /><label>Upload an Image (Optional)</label>
    <input type="file" name="proc_img" />
    <br />

    <br /><label>First Tool Required: </label>
    <select name="first_tool_req">
        <option value="">--Please select a tool--</option>
        {% for tool in tools %}
        <option value="{{ tool.name }}">{{ tool.name }}</option>
        {% endfor %}
        <option value="other">Other (please specify)...</option>
    </select>
    <br /><label>If other, please specify: </label>
    <input type="text" name="first_tool_other" />

    <br /><label>Second Tool Required: </label>
    <select name="second_tool_req">
        <option value="">--Please select a tool--</option>
        {% for tool in tools %}
        <option value="{{ tool.name }}">{{ tool.name }}</option>
        {% endfor %}
        <option value="other">Other (please specify)...</option>
    </select>
    <br /><label>If other, please specify: </label>
    <input type="text" name="second_tool_other" />

    <br /><label>Third Tool Required: </label>
    <select name="third_tool_req">
        <option value="">--Please select a tool--</option>
        {% for tool in tools %}
        <option value="{{ tool.name }}">{{ tool.name }}</option>
        {% endfor %}
        <option value="other">Other (please specify)...</option>
    </select>
    <br /><label>If other, please specify: </label>
    <input type="text" name="third_tool_other" />
    <br />

    <br /><label>First Part Required: </label>
    <select name="first_part_req">
        <option value="">--Please select a part--</option>
        {% for part in parts %}
        <option value="{{ part.name }}">{{ part.name }}</option>
        {% endfor %}
        <option value="other">Other (please specify)...</option>
    </select>
    <br /><label>If other, please specify name: </label>
    <input type="text" name="first_part_other_name" />
    <br /><label>If other, please specify P/N: </label>
    <input type="text" name="first_part_other_num" />
    <br /><label>If other, please specify manuf: </label>
    <input type="text" name="first_part_other_manuf" />
    <br /><label>If other, please specify if OEM: </label>
    <input type="radio" name="oem1" value="True" />
    <label for="is_oem_1">OEM</label>
    <input type="radio" name="oem1" value="False" />
    <label for="is_oem_1">Aftermarket</label>
    <input type="radio" name="oem1" value="False" />
    <label for="unsure_if_oem_1">Not Sure</label>
    <br />

    <br /><label>Second Part Required: </label>
    <select name="second_part_req">
        <option value="">--Please select a part--</option>
        {% for part in parts %}
        <option value="{{ part.name }}">{{ part.name }}</option>
        {% endfor %}
        <option value="other">Other (please specify)...</option>
    </select>
    <br /><label>If other, please specify name: </label>
    <input type="text" name="second_part_other_name" />
    <br /><label>If other, please specify P/N: </label>
    <input type="text" name="second_part_other_num" />
    <br /><label>If other, please specify manuf: </label>
    <input type="text" name="second_part_other_manuf" />
    <br /><label>If other, please specify if OEM: </label>
    <input type="radio" name="oem2" value="True" />
    <label for="is_oem_2">OEM</label>
    <input type="radio" name="oem2" value="False" />
    <label for="is_oem_2">Aftermarket</label>
    <input type="radio" name="oem2" value="False" />
    <label for="unsure_if_oem_2">Not Sure</label>
    <br />

    <br /><label>Third Part Required: </label>
    <select name="third_part_req">
        <option value="">--Please select a part--</option>
        {% for part in parts %}
        <option value="{{ part.name }}">{{ part.name }}</option>
        {% endfor %}
        <option value="other">Other (please specify)...</option>
    </select>
    <br /><label>If other, please specify name: </label>
    <input type="text" name="third_part_other_name" />
    <br /><label>If other, please specify P/N: </label>
    <input type="text" name="third_part_other_num" />
    <br /><label>If other, please specify manuf: </label>
    <input type="text" name="third_part_other_manuf" />
    <br /><label>If other, please specify if OEM: </label>
    <input type="radio" name="oem3" value="True" />
    <label for="is_oem_3">OEM</label>
    <input type="radio" name="oem3" value="False" />
    <label for="is_oem_3">Aftermarket</label>
    <input type="radio" name="oem3" value="False" />
    <label for="unsure_if_oem_3">Not Sure</label>
    <br />

    <br /><label>Procedure Text: </label>
    <textarea name="proc_text" required></textarea>

    <br /><input type="submit"></input>
</form>
<br />

{% endblock %}